<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	
</head>
<body>
<!---------NAVIGATION BAR----------->
<nav class="navbar  sticy-top">
	
		<!----navlogo------->
			<a href="#"><img class="square-circular" src="/images/logo/LOGO1-nobg.png" alt="CLARIONCALL"></a>
			<h2 id="logo-text">Admin Pannel</h2>
        <!--------/navlogo------>
</nav>
<div class="container-fluid">
	<div class="row">
      {{{ body }}}
		
	</div>
	
</div>




</body>
</html>