<div class="spaceFromNav " style="display: block; text-align:center" >
<h1>Welcome</h1>
<p>{{name}} {{surname}}</p><br>
<p>{{email}}</p>
<a href="/subscriber/logout"><button>logout</button></a>
<a href="/subscriber/getstarted"><button>Get started</button></a>
</div>