
    
<header>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pricecards.css">
</header>

  <div class="content">
        <h2>Monthly Membership</h2>
        <hr color="black"/>
        <p><b>Pay monthly cancel anytime</b></p>
        <br>
        <h4><strike>70USD</strike></h4>
        <h3>Now 50USD </h3>
        <br>
        <a href="/subscriber/pay?package_id=111"><button class="button">Get All Access Monthly</button></a>
    </div>
    <div class="content" >
        <h2>Quarterly Membership</h2>
        <hr color="black"/>
        <p><b>Pay quarterly cancel anytime</b></p>
        <br>
        <h4><strike>100USD</strike></h4>
        <h3>Now 50USD </h3>
        <br>
        <a href="/subscriber/pay?package_id=222"><button class="button">Get All Access Monthly</button></a>
    </div>
    <div class="content">
        <h2>Monthly Membership</h2>
        <hr color="black"/>
        <p><b>Pay yearly cancel anytime</b></p>
        <br>
        <h4><strike>100USD</strike></h4>
        <h3>Now 50USD </h3>
        <br>
        <a href="/subscriber/pay?package_id=333"><button class="button">Get All Access Monthly</button></a>
    </div>
  
    
