<div class="spaceFromNav " style="display: block; text-align:center" >
    <br><br><br><br><br>
    <div class="alert_parent">
        <div class="alert" id="alert_container">
                    <span class="cls_btn_1" onclick="this.parentElement.style.display='none';">&times;</span>
                    <span class="alert_msg" id="alert_message"></span>
        </div>
    </div>

    <form method="post" action="/subscriber/signUp" onsubmit="postform(event, this)">
        <label>name</label><br>
        <input type="text" name="name" placeholder="john"><br>
        <label>surname</label><br>
        <input type="text" name="surname" placeholder="Doe"><br>
        <label>email</label><br>
        <input type="email" name="email" placeholder="user@gmail.com"><br>
        <label>password</label><br>
        <input type="password" name="password" ><br>
        <input type="submit">
    </form>
    <br>
     <br> 
<script type="text/javascript" src="/javascripts/postForm.js"></script>
</div>