<div class="spaceFromNav " style="display: block; text-align:center" >
    <br><br><br><br><br>
    <form method="post" action="/subscriber/login" onsubmit="postform(event,this)">
        <label>email</label><br>
        <input type="email" name="email" placeholder="user@gmail.com"><br>
        <label>password</label><br>
        <input type="password" name="password" >
        <input type="submit">
    </form>
    <br>
    <a href="/subscriber/signUp"><p>subscribe</p></a>
    <button onclick="forgot_pass()">forgot password</button>
     <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

</div>
<script type="text/javascript" src="/javascripts/postForm.js"></script>
<script>
    function forgot_pass(){
        
    }
</script>